<!--Este arquivo é responsável pela criação dos cards de eventos na Paǵina Principal-->
<div class='col-sm-6 col-lg-4'>
    <div class="card">
        <div class="card-topper" style='background-image: url(<%= event.image_url %>);'></div>
        <div class="card-block">
            <h4 class="card-title"><%= link_to event.title, event %></h4>
            <p class="published-date"><%= truncate(event.local, length:130) %></p>
            <p class="published-date"><%= event.day %></p>
            <p class="card-text"><%= truncate(event.description, length:130) %></p>
            <%= link_to 'Info', event, class: 'btn btn-read'%>
        </div>
    </div>
</div>
