<!--Este arquivo é responsável por montar toda a página "Info" de cada evento.-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<% provide(:page_title, @event.title)%>

<div class="container">
    <div class="well">
        <div class="row">
             <div class="col-md-12">
                 <div class="row hidden-md hidden-lg"><h1 class="text-center" ><%= @event.title %></h1></div>
                 <div class="pull-left col-md-4 col-xs-12 thumb-contenido">
                   <img class="center-block img-responsive container" src='<%= @event.image_url %>'/>
                 </div>
                 <div class="">
                     <h1 class="hidden-xs hidden-sm"><%= @event.title %></h1>
                     <h3 class="hidden-xs hidden-sm"><%= @event.description %></h3>
                     <hr>

                     <p><strong>Data: </strong><%= @event.day %><br>
                       <br>
                     <strong>Organização: </strong><%= @event.organization %><br>
                       <br>
                     <strong>Local: </strong><%= @event.local %></p>
                     <hr>

                    <p class="text-justify">
                      <%= @event.body %>
                    </p>
             </div>
        </div>
    </div>
    <% if superuser_signed_in? %>
    <div class="row">
      <div class="col-lg-2">
        <div class="blocktext-show">
          <%= link_to 'Voltar', events_path, class: "btn btn-primary btn-block btn-xs"  %>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="blocktext-show">
          <%= link_to 'Editar', edit_event_path(@event), class: "btn btn-primary btn-block btn-xs"  %>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="blocktext-show">
          <%= link_to 'Deletar', event_path(@event), method: :delete, class: "btn btn-danger btn-block btn-xs" %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="col-lg-4">
        <div class="blocktext-show">
          <%= link_to 'Voltar', events_path, class: "btn btn-primary btn-block btn-xs"  %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
